<?xml version="1.0"?>

<launch>

    <arg name="cost_stats_dir" default="$(find learned_cost_map)/scripts/learned_cost_map/ros/wanda_cost_statistics.yaml"/>

    <node pkg="learned_cost_map" type="cost_publisher.py" name="traversability_cost_publisher" output="screen">
        <param name="cost_stats_dir" value="$(arg cost_stats_dir)"/>
    </node>    

</launch>


